//------------------------------------------------------------base styles
:root {
	--full-screen: calc(var(--vh, 1vh) * 100);

	--height-header: 10rem;
	--sidebar-size: 40rem;
	--height-footer: 10rem;
	--gl-indent: 3rem;
}

html {
	height: 100%;
	//font: 400 calc(100vw / 1920 * 10)/1.33 $font_1;
	font: 400 10px/1.55 $font_1;
}

body {
	counter-reset: top-baner;

	position: relative;

	display: flex;
	height: 100%;

	font-size: $font_size_base;
	color: $color_text_base;

	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: $body_bg;

	@supports (display: grid) {
		display: block;
	}
}

.wrapper {
	position: relative;

	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: auto !important;

	overflow-x: hidden;
}

.base {
	position: relative;

	width: 100%;
	flex: 1 0 auto;

	@include bp($point_2, min) {
		padding-left: var(--sidebar-size);
	}

	@include bp($point_3) {
		padding: var(--height-header) 0 0;
	}
}

a {
	text-decoration: none;
	color: $color_link_base;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

}

.elements_list {
	padding: 3rem;
}

//------------------------------------------------------------base styles###
